<div class="card">
  <div class="card-header">
    <h2 class="card-title">Flight Edit Reactive</h2>
  </div>

  <div class="card-body">
    <form [formGroup]="editForm">
      <div class="form-group">
        <label>ID:</label>
        <input formControlName="id" class="form-control">
      </div>

      <div class="form-group">
        <label>From:</label>
        <input formControlName="from" class="form-control">
      </div>

      <app-validation-errors
        [errors]="editForm.controls.from.errors ?? {}"
        field="from"
      />

      <div class="form-group">
        <label>To:</label>
        <input formControlName="to" class="form-control">
      </div>

      <div class="form-group">
        <label>Date:</label>
        <input formControlName="date" class="form-control">
      </div>
      <div class="form-group">
        <!--
          form state:
            - valid
            - invalid
            - pending
            - disabled
        -->
        <button (click)="save()" [disabled]="!editForm.valid" class="btn btn-default">
          Save
        </button>
      </div>
    </form>
  </div>
</div>
