/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

footer {
  margin-top: 30px;
}

/* h1 {
  background-color: yellow;
}

h1.my-custom-color {
  background-color: blue;
  border: 5px solid red;
} */
